div {
  background-color: #f938ab;
  padding: 50px;
}
.div1 {
  background-color: #ff6bde;
}
#div1 {
  padding: 20px;
  width: 200px;
  height: 100px;
  border: 2px solid red;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
#div2 {
  padding: 20px;
  width: 200px;
  height: 100px;
  border: 2px solid green;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
#div3 h1 {
  font-size: 26px;
  font-weight: bold;
}
#div3 span {
  font-size: 12px;
}
#div3 span a {
  text-decoration: none;
}
#div3 span a:hover {
  border-width: 1px;
}
.class {
  color: #a2a2a2;
  display: block;
}
